#map {
    height: 600px;
    width: 100%;
    margin: 0 auto;
}

.popup-content {
    font-size: 14px;
    text-align: center;
}

.popup-content img {
    width: 100%;
    height: auto;
    max-width: 200px;  /* Adjust image size */
}

